<div class="test">
  <h1>Danh sách tỉnh thành Việt Nam</h1>
  <!-- <h1>Trái cây:</h1>
  <div *ngFor="let trai of traicay; let i=index">
    <h2>{{i+1}}. {{trai}}</h2>
  </div> -->
  <!-- <table class="table">
    <tr>
      <th>STT</th>
      <th>Loại trái cây</th>
      <th>Giá</th>
      <th>Khuyến mãi</th>
    </tr>
    <tr *ngFor="let trai of traicay2; let i=index">
      <td>{{i+1}}</td>
      <td>{{trai.ten}}</td>
      <td><span [ngClass]="{'giaSale':trai.gia < '300'}">{{trai.gia | currency:"USD"}}</span></td>
      <td><span >{{trai.km | onSale |uppercase}}</span></td>
    </tr>
  </table> -->
  Tỉnh:
  <select class="city" (change)="changecity($event)">
    <option *ngFor="let data of cityData" value="{{data.city}}">{{data.city}}</option>
  </select> <br><br>
  Quận/huyện:
  <select class="city">
    <option *ngFor="let district of districts" value="{{district}}">{{district}}</option>
  </select>
  <br><br>
  <span>Counter = {{counter}}</span><br/>
<span>Counter^2 = {{couterBinhPhuong}}</span>
</div>

