.test{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #847ed4;
  width: 600px;
}
.name{
  display: inline-block;
  color: #190aee;
}
.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.giaSale{
  color:red;
}
